$lightYellow: rgba(hsl(38, 100%, 61%), 0.08);
$darkYellow: #ffb436;
$lightGray: #f8f8f8;
$darkGray: #898989;
$red: #de1e3a;
$green: #00b533;
$light: #fff;
$borderRadius: 15px;
$fontRegular: "SF-regular";
$fontSemiBold: "SF-bold";
$fontLight: "SF-light";
$fontLightItalic: "SF-light-italic";
$fontMedium: "SF-medium";

//300 -> italic
@font-face {
  font-family: "SF-light-italic";
  src: url(../assets/fonts/SF-Pro-Display-LightItalic.otf);
}

//300
@font-face {
  font-family: "SF-light";
  src: url(../assets/fonts/SF-Pro-Display-Light.otf);
}
//400
@font-face {
  font-family: "SF-regular";
  src: url(../assets/fonts/SF-Pro-Display-Regular.otf);
}
//500
@font-face {
  font-family: "SF-medium";
  src: url(../assets/fonts/SF-Pro-Display-Medium.otf);
}
//600
@font-face {
  font-family: "SF-bold";
  src: url(../assets/fonts/SF-Pro-Display-Semibold.otf);
}
